header {
  height: 200px;
  background-image: url(../../assets/images/header/skal-header.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-content: center;
  align-items: center;
}

header h1 {
  color: rgb(255 255 255);
  font-size: 3rem;
  text-align: center;
  width: 500px;
  margin: auto;
}