.blockNewTours input {
    display: inline-block;
}

.blockNewTours label {
    display: block;
}

.blockNewTours {
    font-size: 1.4rem;
}

.blockNewTours form {
    padding: 1.5rem;
    background-color: rgba(245, 245, 245);
    border-radius: 0.5rem;
}

.blockNewTours legend {
    font-weight: 700;
    margin-left: 40px;
}

.blockNewTours fieldset>*+* {
    margin-top: 0.5rem;
}

.blockNewTours form>*+* {
    margin-top: 1.5rem;
}

.radioItem {
    display: flex;
    align-items: center;
    margin: 30px;
}

.blockNewTours input[type="checkbox"],
.blockNewTours input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.65rem;
}

.blockNewTours form:nth-child(2n) {
    accent-color: rgb(156, 142, 15);
}

.blockNewTours fieldset {
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

.blockNewTours form {
    padding: 1.5rem;
    background-color: rgba(245, 245, 245);
    border-radius: 0.5rem;
}

.gridDataTours, .sectionFormDescription, .inputData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.sectionDateTours h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0;
}

.sectionDateTours {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 15px;
}

.sectionDateTours p {
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: 300;
    color: #3b3b3b;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

.sectionFormDescription textarea::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.sectionFormDescription textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #249de4;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
